<h1>New user</h1>

<form id="new-user" name="user">
  <div class="field">
    <label for="login"> login:</label>
    <input type="text" name="login" id="login" value="<%= login %>" >
  </div>

  <div class="field">
    <label for="password"> password:</label>
    <input type="text" name="password" id="password" value="<%= password %>" >
  </div>

  <div class="field">
    <label for="password_confirm"> password_confirm:</label>
    <input type="text" name="password_confirm" id="password_confirm" value="<%= password_confirm %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create User" />
  </div>

</form>

<a href="#/index">Back</a>